/* min-height: calc(100vh - 5rem); */

.home-bg-container {
  position: relative;
  animation: flash 0.7s 0.2s forwards;
}

.home-intro-bg-container {
  width: 100%;
  max-width: 1200px;
  opacity: 0;
  animation: flash 0.7s 0.2s forwards;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.home-bg-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../../assets/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-others-container {
  width: 100%;
  margin-top: 30px;
  max-width: 1200px;
  opacity: 0;
  animation: flash 0.7s 0.2s forwards;
  z-index: 1;
}

.home-others-desktop {
  display: flex;
}

.home-others-mobile {
  display: none;
}

.home-common-container {
  width: 90%;
}

.home-title-border-left {
  border-left: 4px solid #f57c00;
  color: #3a3a3a;
  letter-spacing: 0.5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  color: white;
}

@media screen and (max-width: 1280px) {
  .home-others-desktop {
    display: none;
  }

  .home-others-mobile {
    display: block;
  }
}
