.navbar-mobile-modal-bg {
  position: fixed;
  left: 0;
  top: 59px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.navbar-mobile-modal-container {
  position: fixed;
  left: 0;
  top: 59px;
  width: 100%;
  background-color: #252525;
}

.navbar-mobile-border-line {
  border-top: 1px dotted white;
  width: 95%;
}

.navbar-mobile-menu-container {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  margin-bottom: 10px;
  gap: 40px;
  flex-direction: column;
}

.navbar-mobile-menu {
  color: white;
  list-style-type: none;
}
