.menu-specialty-container {
  width: 90%;
  height: 100%;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: -10px;
  /* margin-bottom: 30px; */
  /* background-color: red; */
}

.menu-specialty-title {
  width: 60%;
  box-sizing: border-box;
  color: #3a3a3a;
}

.menu-title-border-left {
  border-left: 4px solid #f57c00;
  /* border-left: 4px solid grey; */
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-specialty-img-container {
  width: 100%;
  height: 555px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /* background-color: red; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.menu-specailty-img {
  width: 60%;
  height: 430px;
  /* margin-top: 60px; */
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.8s all ease;
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: #333;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s all ease;
  font-weight: bold;
  border-radius: 50%;
  border: none;
}

.carousel-control-prev {
  left: 120px;
}

.carousel-control-next {
  right: 120px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu-specialty-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 435px;
  opacity: 0;
  transition: 0.4s all ease;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.5px;
  color: brown;
  text-align: center;
}

.menu-specialty-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 485px;
  opacity: 0;
  width: 90%;
  text-align: center;
  transition: 0.4s all ease;
}

.active {
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .menu-specialty-container {
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: -5px;
  }

  .menu-specialty-title {
    width: 100%;
    box-sizing: border-box;
  }

  .menu-specialty-img-container {
    width: 100%;
    height: 560px;
  }

  .menu-specailty-img {
    margin-top: unset;
    width: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 84%;
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }

  .menu-specialty-name {
    width: 100%;
    top: 440px;
  }

  .menu-specialty-content {
    top: 480px;
  }
}

@media screen and (max-width: 767px) {
  .menu-specialty-container {
    margin-top: unset;
    margin-bottom: -10px;
  }

  .menu-specialty-img-container {
    height: 420px;
    /* background-color: red; */
  }

  .menu-specailty-img {
    width: 100%;
    height: 300px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 79%;
    border-radius: unset;
    padding: 13px 15px;
    width: auto;
  }

  .menu-specialty-name {
    top: 310px;
    width: 100%;
  }

  .menu-specialty-content {
    top: 350px;
    width: 90%;
    line-height: 25px;
  }
}
